@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* NPROGRESS MODIFICATIONS */
#nprogress .bar {
    background: #EE9315 !important;
    /*height: 10px !important;*/
}

#nprogress .peg {
    box-shadow: none !important;
}

#nprogress .spinner-icon {
    border-top-color: #EE9315;
    border-left-color: #EE9315;
}

a{
    @apply text-amber-500 hover:underline
}
a.btn{
    @apply hover:no-underline
}

html{
    scroll-behavior: smooth;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
